.collection__content {
  padding: 0 20px;
  margin: 0 auto;
}

.collection__content__title {
  padding: 10px;
  margin: 0;
}

.collection__content__persons-list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.collection__content__persons-list > li.content__person-item {
  display: inline-block;
  padding: 0 5px;
  margin: 5px;
}

.faces-container__face-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin: 0 3px 0 0;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  margin-bottom: 15px;
  padding:10px;
}

.photo-container {
  width: 300px;
}

.photo {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

.grid-item:hover {
  border-color: #ddd;
  background: #fff;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.grid-item:hover .faces-container {
  opacity: 1;
}

.faces-container {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.content__person-item:hover .face-thumbnail {
  box-shadow: 3px 3px 3px rgb(200,200,200);
  background-color: orange;
  padding: 1px;
}

.more-persons-caption-container {
  display: flex;
  align-items: flex-end;
}
