.collection__content {
  padding: 0 20px;
  margin: 0 auto;
}

.collection__content__title {
  padding: 10px;
  margin: 0;
}

.share-btn, .edit-names-btn {
  position: fixed;
  right: 0;
}

.share-btn {
  top: 100px;
}

.edit-names-btn {
  top: 64px;
}

.collection__content__persons-list {
  padding: 0;
  list-style-type: none;
}

.collection__content__persons-list > li.content__person-item {
  display: inline-block;
  padding: 0 5px;
}

.faces-container__face-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin: 0 3px 0 0;
}

/* .faces-container__thumbnail-anchor {
  width: 35px;
  height: 35px;
  text-decoration: none;
  color: #fff;
} */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  margin-bottom: 15px;
  padding:10px;
}

.photo-container {
  width: 300px;
}

.photo {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

.grid-item:hover {
  border-color: #ddd;
  background: #fff;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.grid-item:hover .faces-container {
  opacity: 1;
}

.faces-container {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
