.photo-container {
  position: relative;
  display: block;
}

.photo {
  max-width: 100%;
  width: 100%;
}

.tag {
  box-sizing: border-box;
  border: 2px solid #fff;
  position: absolute;
  z-index: 2;
  background: rgba(255,255,255,0.2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.photo-container:hover .tag {
  opacity: 1;
}

.tag-anchor {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
