<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block page_specific_style %}
    {% endblock %}
  </head>

{% macro render_edit_name_btn(collection_id) %}
  <a href="/edit_persons_names/{{ collection_id }}" class="edit-names-btn-container">
    <button class="edit-names-btn foto-btn" type="button">
      <i class="fas fa-pencil-alt"></i>
    </button>
  </a>
{% endmacro %}

  <body>
      <nav class="navbar navbar-light justify-content-between foto-navbar fixed-top">
        <a class="navbar-brand foto-logo" href="/">
          <img src="/static/images/logo_cropped.png" width="30" height="30" class="d-inline-block align-top">
          Foto
        </a>
        {% if 'username' in session %}
          <div class="navbar__right-container">
            <div class="navbar-text navbar__right-top-btn">
              Hi, {{ session['username'] }} <i class="fas fa-caret-down"></i>
              <div class="dropdown-container">
                <a href="/new_collection" class="dropdown__item">Create a new collection</a>
                {% block collections_dropdown_menu %}
                  <a href="/" class="dropdown__item">My Collections</a>
                {% endblock %}
                {% block login_logout_button %}
                  {% if 'username' in session %}
                    <a href="/logout" class="dropdown__item">Logout</a>
                  {% else %}
                    <a href="/login" class="dropdown__item">Login</a>
                  {% endif %}
                {% endblock %}
              </div>
            </div>

          </div>
        {% endif %}
      </nav>

      {% macro filterpersonsbar(persons, chosen_persons, cropped_faces_dict) -%}
        <div class="col-3 filter-bar-container">
          <ul class="filter-bar">
            {% for person in persons %}
              <li class="filter-item">
                <div class="filter-item__container" title="Person {{ person.id }}">
                  {% if person in chosen_persons %}
                    <input class="filter-item__checkbox" type="checkbox" name="person_ids[]" value="{{ person.id }}" checked />
                  {% else %}
                    <input class="filter-item__checkbox" type="checkbox" name="person_ids[]" value="{{ person.id }}" />
                  {% endif %}
                  <img class="face-thumbnail" src="{{ cropped_faces_dict[person.id] }}" />
                </div>
              </li>
            {% endfor %}
          </ul>
          <a class="persons__link" href="#">
            <button class="persons__link-btn foto-btn" type="button">
              Filter persons
            </button>
          </a>
        </div>
        <div class="filter-bar-triangle__border"></div>
        <div class="filter-bar-triangle__filling"></div>
        <button class="filter-persons-btn foto-btn" type="button">
          <i class="fas fa-users"></i>
        </button>
      {%- endmacro %}
      <div class="container-fluid">
        <div class="row content">
            {% for flash in get_flashed_messages() %}
              <div class="col-10 content__flash-message-container"><div class="content__flash-message">{{ flash }}</div></div>
            {% endfor %}

            <div class="col-12 content__content">
              {% block content %}
              {% endblock %}

              {% block unique_link_box %}
              {% endblock %}
            </div>
        </div>
      </div>
      <footer class="footer">Made by Tiffany Lo</footer>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      {% block page_specific_scripts %}
      {% endblock %}
    </div>
  </body>
</html>
