<!DOCTYPE html>
  <head>
    <title>Foto</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/dropdown-menu.css">
    {% block page_specific_style %}
    {% endblock %}
  </head>

  <body>
    <h3><a href="/">Foto</a></h3>
    <hr>
    <div class="collections-menu">
      <a href="" class="collections-menu__header">Collections</a>
      <ul class="collections-menu__collections">
      </ul>
    </div>
    <hr>
    {% macro filterpersonsbar(persons, chosen_persons, cropped_faces_dict) -%}
      <div class="filter-bar-container">
        <ul class="filter-bar">
          {% for person in persons %}
            <li class="filter-item">
              <div class="filter-item__container" title="Person {{ person.id }}">
                {% if person in chosen_persons %}
                  <input class="filter-item__checkbox" type="checkbox" name="person_ids[]" value="{{ person.id }}" checked />
                {% else %}
                  <input class="filter-item__checkbox" type="checkbox" name="person_ids[]" value="{{ person.id }}" />
                {% endif %}
                <img class="face-thumbnail" src="{{ cropped_faces_dict[person.id] }}" />
              </div>
            </li>
          {% endfor %}
        </ul>
        <a class="persons__link" href="#">
          <button class="persons__link-btn" type="button">
            Filter persons
          </button>
        </a>
        <hr>
      </div>
    {%- endmacro %}
    <div>
        {% for flash in get_flashed_messages() %}
          <div>{{ flash }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

    {% block login_logout_button %}
      {% if 'username' in session %}
        <a href="/logout"><button class="logout-btn" type="button">Logout</button></a>
      {% else %}
        <a href="/login"><button class="login-btn" type="button">Login</button></a>
      {% endif %}
    {% endblock %}

    {% block unique_link_box %}
    {% endblock %}

    <hr>
    <footer>Made by Tiffany Lo</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/dropdown-menu.js"></script>
    {% block page_specific_scripts %}
    {% endblock %}
  </body>
</html>
