{% extends 'base.html' %}

{% block page_specific_style %}
  <link rel="stylesheet" href="/static/css/photo-tag.css" />
  <link rel="stylesheet" href="/static/css/collections.css" />
  <link rel="stylesheet" href="/static/css/filter-persons-bar.css" />
  <link rel="stylesheet" href="/static/css/face-thumbnail-tag.css" />
{% endblock %}

{% block content %}
  {{ filterpersonsbar(persons, persons, cropped_faces_dict) }}
  <div>
    <h1>Collection {{ collection_id }}</h1>
    <h4>Photos:</h4>
    <ul>
    {% for photo in photos %}
      <li>
        <a class="photo-container" href="/photos/{{ photo.id }}" title="Photo{{ photo.id }}" style="width:300px">
          <img class="photo" src="{{ url_dict[photo.id] }}" />
          {% if photo.id in boundingbox_dict %}
            {% for person_box in boundingbox_dict[photo.id] %}
              <div
                class="tag"
                data-id="{{ photo.id }}"
                data-top="{{ person_box.face_top_percentage }}"
                data-left="{{ person_box.face_left_percentage }}"
                data-width="{{ person_box.face_width_percentage }}"
                data-height="{{ person_box.face_height_percentage}}"
              ></div>
            {% endfor %}
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>

    <h4>Persons:</h4>
    <ul>
    {% for person in persons %}
      <li>
        <a class="thumbnail-anchor" href="/persons?person_ids[]={{ person.id }}" title="Person {{ person.id }}">
          <img class="face-thumbnail" src="{{ cropped_faces_dict[person.id] }}" />
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block page_specific_scripts %}
  <script src="/static/js/photo-tag.js"></script>
  <script src="/static/js/filter-persons-bar.js"></script>
{% endblock %}
