{% extends 'base.html' %}

{% block page_specific_style %}
  <link rel="stylesheet" href="/static/css/photo-tag.css" />
{% endblock %}

{% block content %}
  <div>
    <h2>Collection {{ collection_id }}</h2>
    <h4>Photos:</h4>
    <ul>
    {% for photo in photos %}
      <li>
        <a class="photo-container" href="/photos/{{ photo.id }}">
          Photo {{ photo.id }}
          <br />
          <img class="photo" src="{{ url_dict[photo.id] }}" width="300" />
          
        </a>
      </li>
    {% endfor %}
    </ul>

    <h4>Persons:</h4>
    <ul>
    {% for person in persons %}
      <li>
        <a href="/persons/{{ person.id }}">
          <img class="face-thumbnail" src="{{ cropped_faces_dict[person.id] }}" height="50" />
          Person {{ person.id }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block page_specific_scripts %}
  <script src="/static/js/photo-tag.js"></script>
{% endblock %}
