{% extends 'base.html' %}

{% block page_specific_style %}
  <link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block collections_dropdown_menu %}
  {{ super() }}
{% endblock %}

{% block content %}
  <a href="/new_collection">Create a new collection</a>
  {% if collections_info_dict %}
    <h1>Your collections</h1>
    <ul>
      {% for collection in collections_info_dict %}
        <li class="collection-detail">
          <a href="/collections/{{ collection }}" class="collection_detail__anchor">
            <p class="collection-detail__title">Collection {{ collection }}</p>
            <div class="collection-detail__photos">
              {% for photo_id in collections_info_dict[collection]['photos'] %}
                <img class="photo_thumbnail" src="{{ collections_info_dict[collection]['photos'][photo_id] }}">
              {% endfor %}
            </div>
            <div class="collection-detail__persons">
              {% for person_id in collections_info_dict[collection]['persons'] %}
                <img class="face-thumbnail" src="{{ collections_info_dict[collection]['persons'][person_id] }}" />
              {% endfor %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>You don't have any photo collections</h2>
  {% endif %}
{% endblock %}
