{% extends 'base.html' %}

{% block page_specific_style %}
{% endblock %}

{% block content %}
  <h1 class="signin__header">Sign in below: </h1>
  <form class="signin__form" action="/login/validate" method="GET">
    <div class="form__username-container">
      Username:
      <input type="text" name="username" />
    </div>
    <div class="form__pwd-container">
      Password:
      <input type="password" name="password" />
    </div>
    <button class="form__sigin-btn" type="submit">Login</button>
  </form>
  <a href="/register"><button>New User</button></a>
{% endblock %}

{% block page_specific_scripts %}
{% endblock %}

{% block signin_form %}
{% endblock %}
