{% extends 'base.html' %}

{% block page_specific_style %}
  <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block collections_dropdown_menu %}
{% endblock %}

{% block content %}
  <div class="col-4 offset-4 signin__container">
    <h2 class="signin__header">Welcome back! </h2>
    <p class="signin__caption">FOTO, the smart online photo album</p>
    <form class="signin__form" action="/login/validate" method="GET">
      <div class="form-group form__username-container">
        <input class="form-control input-textbox" type="text" name="username" placeholder="Username"/>
      </div>
      <div class="form-group form__pwd-container">
        <input class="input-textbox form-control input-textbox" type="password" name="password" placeholder="Password" />
      </div>
      <button class="form__sigin-btn foto-btn" type="submit">Login</button>
    </form>
    <br />
    <a class="form__register-link" href="/register">Not a member yet? Register </a>
  </div>
{% endblock %}

{% block login_logout_button %}
{% endblock %}

{% block page_specific_scripts %}
{% endblock %}
