{% extends 'base.html' %}
{% block content %}
<div>
    <h3>Photo {{ photo_id }} in <a href="/collections/{{ collection_id }}">Collection {{ collection_id }}</a></h3>
    <img src="{{ url }}" height="500">
    <br>
    <br>
    <div>These people are in this photo: </div>
    {% if persons %}
        <ul>
            {% for person in persons %}
                <li><a href="/persons/{{ person.id }}">Person {{ person.id }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>

</div>
{% endblock %}