{% extends 'base.html' %}

{% block page_specific_style %}
  <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block collections_dropdown_menu %}
{% endblock %}

{% block content %}
  <div class="col-4 offset-4 register__container">
    <h2 class="register__header">New User </h2>
    <p class="register__caption">Start identifying photos with a free account</p>
    <form class="register__form" action="/register/new_user" method="POST">
      <div class="form-group register-form__username-container">
        <input class="form-control input-textbox" type="text" name="username" placeholder="Username"/>
      </div>
      <div class="form-group register-form__pwd-container">
        <input class="form-control input-textbox" type="password" name="password" placeholder="Password"/>
      </div>
      <div class="form-group register-form__confirm-pwd-container">
        <input class="form-control input-textbox" type="password" name="confirm_password" placeholder="Confirm Password"/>
      </div>
      <button class="form__sigin-btn foto-btn" type="submit">Register</button>
    </form>
    <br />
    <a class="form__signin-link" href="/login">Already a member? Login </a>
  </div>
{% endblock %}

{% block page_specific_scripts %}
{% endblock %}
